# Φάκελοι Python που δεν θέλουμε
__pycache__/
*.pyc

# Εικονικό περιβάλλον (ΤΕΡΑΣΤΙΟ, δεν ανεβαίνει ποτέ)
venv/
env/

# Ρυθμίσεις IDE
.vscode/
.idea/

# Βάσεις δεδομένων (αν θες να μην ανέβουν τα δεδομένα σου)
instance/
*.sqlite3

# Cache
.pytest_cache/